@model List<RankDto>

@if (Model.Any())
{
	var isYear = Context.Request.Path.Value.Contains("year");

	<div class="rank">
		<ul class="radio-button">
			<li><a href="/month" class="@(!isYear ? "active": "")">Mês</a></li>
			<li><a href="/year" class="@(isYear ? "active": "")">Ano</a></li>
		</ul>
		<ul>
			@foreach(var item in Model)
			{
				<li class="item">
					<div class="avatar">
						<img src="@item.Avatar" />
						<div class="rank-label">
							@item.Possition
						</div>
					</div>

					<div class="content">
						<div class="content-details">
							<span class="name">@item.Name</span>
							<div class="numbers">
								<span class="distance-per-day"> @(item.DistancePerDay.ToString("0.##") + "km") per Day</span>
								<span class="distance">@(item.Distance + "km")</span>
							</div>
						</div>
						<div class="progress-bar" style="width: @item.Progress.ToString("0.00%")"></div>
					</div>
				</li>
			}
		</ul>
	</div>
}
else
{
	<p class="alert">Nothing to show here. 🚲</p>
}




